<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AskFM siute" verbose="3"  parallel="tests" thread-count="2">
    <test name="Login Test">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Send Message Test">
        <classes>
            <class name="tests.SendQuestionTest"/>
        </classes>
    </test>
</suite>